$--card-width: 350px;
$--card-height: 270px;
$--small-card-width: 250px;
$--small-card-height: 200px;

@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == large {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
